:root {
  --grid-rows: 1;
  --grid-cols: 1;
  --gridType: solid;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: aliceblue;
  text-shadow: 2px 2px 4px black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(68, 32, 2, 0.664);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  background-color: rgba(68, 32, 2, 0.562);
}

.settings {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.drawing-area {
  background-color: white;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  border: 1px var(--gridType) black;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#size {
  color: white;
  text-shadow: 2px 2px 4px black;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

button {
  margin-bottom: 6px;
  border-style: outset;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgb(204, 202, 202);
}

button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
  border-color: rgba(146, 105, 71, 0.301);
}

button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
  border-width: 1px;
  border-style: inset;
  border-color: rgba(68, 32, 2, 0.562);
}

#color-picker {
  border: 0px;
  padding: 0px;
  width: 36px;
  height: 16px;
  position: relative;
  top: 3px;
}
