h1 {
  text-align: center;
  margin-bottom: 50px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.drawing-area {
  height: 600px;
  width: 600px;
}